
body {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  color: #1d1d1d;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 100px 0;
}
h3 {
  font-style: italic;
  font-size: 42px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
h4 {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}

.scrollToTop {
  position: fixed;
  bottom: 60px;
  right: 50px;
  border-radius: 4px;
  font-size: 32px;
  height: 50px;
  width: 50px;
  display: none;
  z-index: 1001;
  color: #fff;
  background-color: #da1757;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: #fff;
    text-decoration: none;
    outline: none;
    color: #da1757;
    border: 1px solid #da1757;
  }
}

/*-------------------------header-------------------------*/
.main-header {
  background: url('../img/first_screen_bg.png') center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  position: relative;
}

.main-header .navbar-toggler {
    color: #fff;
}

.main-header .navbar-brand,
.main-header ul li a {
  color: #fff;
  font-weight: 600;
}

.main-header .navbar-brand {
  font-size: 41px;
}

.main-header ul li a {
  font-size: 17px;
  &:after {
    content: '';
    display: block;
    background-color: #fff;
    width: 100%;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
  }
  &:hover::after {
    transform: scale(1);
  }
}

.main-header-text {
  position: absolute;
  top: 25%;
  left: 5%;
  max-width: 600px;
  color: #fff;
  padding: 20px;
}

.main-header-button {
  padding-left: 30px;
}

.main-header-button .btn {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  opacity: 0.8;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
  &:hover {
    color: #fff;
    opacity: 1;
  }
}
.btn {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-right: 20px;

}
.btn-pink {
  background-color: #f42267;
}
.btn-violet {
  background-color: #6932e8;
}

/****************************section-wacth*********************************/

.section-wacth {
  background: url('../img/world_map.png') center no-repeat;
  background-size: cover;
}



.section-wacth h3,
.section-wacth h4 {
  color: #484848;
}

.section-tabs .nav-pills {
  margin-bottom: 20px;
}

.section-tabs .nav-pills .nav-link {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 30px;
  color: #484848;
}

.section-tabs .nav-pills .nav-item .nav-link.active {
  background-color: #f42267;
  color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
}

.btn-shadow {
  box-shadow: 0 10px 0 #ff5990;
  border-radius: 10px;
  padding: 10px 25px;
  transition: all .5s;
  &:hover {
    box-shadow: 0 5px 0 #ff5990;
    color: #fff;
    background-color: #da1757;
  }
}

/***************************************section-progress************************************/

.section-progress {
  background-color: #4d2d7f;
  color: #fff;
  font-size: 15px;
  padding: 0;
}

.section-progress .bullhorn-img {
  margin-left: 20px;
}

.section-progress .num {
  font-size: 50px;
  font-weight: 600;

}

.section-progress h4 {
  font-size: 30px;
  height: 72px;
}
.section-progress .progress-item{
  padding: 80px 10px 80px 0;
  transition: all 0.7s;
  &:hover {
    background-color: #40286a;
  }
}
/*******************************section-lets****************************/

.section-lets {
  background: url('../img/pc_screen_bg.png') center no-repeat;
  background-size: cover;
  color: #fff;
}

/***************************************section-design************************************/
.section-design h3 {
  font-size: 33px;
}

.section-design h2 {
  font-size: 25px;
  font-weight: 600;
  color: #484848;
  margin: 10px 0;
}

.section-design h3,
.section-design h4{
  color: #484848;
}

.section-design p {
  font-size: 14px;
}

.section-design span i {
  font-size: 60px;
  background: linear-gradient(45deg, rgba(255,0,32,0.7) 0%, rgba(68, 26, 130, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 15px;
}

.emded-responsive {
  position: relative;
  text-align: center;
}

.emded-responsive iframe {
  border-radius: 20px;
  width: 557px;
  height: 462px;
}

// #videoPlayBtn {
//   width: 100%;
//   height: 100%;
//   z-index: 1000;
//   position: absolute;
//   top: 0;
//   cursor: pointer;
//   background: url('../img/play.png') center no-repeat;
// }



/***************************************section-work************************************/
.section-work {
  background-color: #f1f1f1;
}

.section-work .nav-pills {
  margin: 30px 0;
}

.gallery-item {
  margin-bottom: 30px;
}

.gallery a img {
  transition: all 0.5s;
}

.gallery a:hover img {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

/***************************************section-reviews************************************/
.section-reviews {
  background: url('../img/third_screen_bg.png') center no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 0;
}

.section-reviews .carousel-caption {
  top: 5%;
  bottom: auto;
  text-align: left;
}

.section-reviews .blockquote {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  position: relative;
  padding-left: 40px;
  margin-top: 70px;
  &:before {
    content: '\201C';
    float: left;
    font-size: 150px;
    font-weight: 500;
    font-style: italic;
    position: absolute;
    color: #f42267;
    top: -80px;
    left: -33px;
  }
}

/***************************************section-form************************************/

.section-form {
  background: url('../img/fourth_screen_bg.png') center no-repeat;
  background-size: cover;
  color: #ffffff;
}
.section-form h5 {
  font-size: 30px;
  font-weight: 600px;
  margin-bottom: 20px;
}

.section-form form {
  margin-top: 50px;
}

.section-form .btn-violet {
  background-color: #4d2d7f;
}

.btn-violet.btn-shadow {
  box-shadow: 0 7px 0 #a57ee9;
  &:hover {
    background-color: #3a2362;
    box-shadow: 0 5px 0 #a57ee9;
  }
}

.section-form .form-control {
  height: 51px;
  background-color: rgba(255,255,255,0.35);
  color: #fff;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
  &::placeholder {
    color: #fff;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0.25);
  }
}

/***************************************footer************************************/
.footer {
  background: url('../img/world_map.png') center no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer h5 {
  font-size: 25px;
  color: #4b2d7f;
  font-weight: 700;
}

.footer-container ul {
  list-style: none;
  padding-left: 10px;
}

.footer-container ul li a {
  font-size: 15px;
  font-weight: 600;
  color: #171717;
}


.footer-img img{
  padding-bottom: 20px;
}

.copyright {
  background-color: rgba(197, 197, 197, 0.25);
}

.copyright a,
.copyright span {
  color: #171717;
  font-size: 18px;
  position: relative;
}

.copyright a:hover {
  text-decoration: underline;
}

.copyright li a::after,
.copyright li span::after {
  content: '\00B7';
  position: absolute;
  right: -3px;
}

.copyright li:last-child a::after,
.copyright li:last-child span::after {
  content: '';
}
@import "adapt";
@import "blog";
