.main-header {
  margin-bottom: 75px;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  height: 220px;
  color: #ffffff;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-inner {
  font-size: 16px;
  line-height: 20px;
  height: 35px;
}

.inner-page .main-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.inner-page .main-header-logo {
  order: 0;
  padding: 23px 20px;
}

.inner-page .main-header {
  margin-bottom: 50px;
  background-color: #000000;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 25px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.user-navigation {
  max-width: 140px;
  display: flex;
}

.user-navigation .login-link {
  padding-left: 50px;
  position: relative;
}

.login-link::before{
  content: "";
  top: 27px;
  left: 24px;
  position: absolute;
  width: 16px;
  height: 18px;
  background-image: url("../img/login.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login-link:focus::before,
.login-link:hover::before,
.login-link:active::before {
  opacity: 1;
}


.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}


.main-header-logo {
  order: 2;
}

.main-navigation-wrapper {
  width: 100%;
  background-color: #000000;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.catalog-header-logo {
  width: 70px;
  padding-top: 19px;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current a:not([href]) {
  background-color: #000000;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  bottom:0;
  right:20px;
  left:20px;
  height: 5px;
  background-color: #ffffff;
}
