
.contact-container {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.main-contacts {
  margin: 0;
  padding: 0;
  margin-right: 40px;
  margin-top: 40px;
}

.main-contacts h1 {
  margin-bottom: 0;

}

.main-contacts h2 {
  margin-top: 5px;
  margin-bottom: 20px;

}

.main-contacts p {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
}
